{% load static %}
<!-- #static dosyalri eklemek için kullanildi -->
<!-- footer section start -->
<div class="footer_section layout_padding">
  <div class="container">
  {% for indxss in index_pages %} 
   <!-- <div class="input_btn_main">
     <input type="text" class="mail_text" placeholder="Enter your email" name="Enter your email">
     <div class="subscribe_bt"><a href="#">Subscribe</a></div>
   </div> -->
   <!-- <div class="location_main">
     <div class="call_text"><img src="{% static "images/call-icon.png" %}"></div>
     <div class="call_text"><a href="tel:{{ indexss.footer_phone_number.url }}">{{indexss.footer_phone_number}}</a></div>
     <div class="call_text"><img src="{% static "images/mail-icon.png" %}"></div>
     <div class="call_text"><a href="mailto:{{ indexss.footer_email.url }}">{{indexss.footer_email}}</a></div>
   </div> -->
   <div class="social_icon">
    <ul class="social-icons">
      <li><a href="{{indxss.footer_facebook_link}}" target="_blank"><img src="{% static "images/fb-icon.png" %}" alt="Facebook"></a></li>
      <li><a href="{{indxss.footer_X_link}}" target="_blank"><img src="{% static "images/twitter-icon.png" %}" alt="Twitter"></a></li>
      <li><a href="{{indxss.footer_linkled_link}}" target="_blank"><img src="{% static "images/linkedin-icon.png" %}" alt="LinkedIn"></a></li>
      <li><a href="{{indxss.footer_instagram_link}}" target="_blank"><img src="{% static "images/instagram-icon.png" %}" alt="Instagram"></a></li>
    </ul>
    
   </div>
  {% endfor %}
  </div>
</div>
<!-- footer section end -->
<!-- Javascript files-->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/jquery-3.0.0.min.js" %}"></script>
<script src="{% static "js/plugin.js" %}"></script>
<!-- sidebar -->
<script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<!-- javascript -->
<script src="{% static "js/owl.carousel.js" %}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>