{% extends "base.html" %}
{% load static %}
{% block title %}anasayfa{% endblock title %}
{% block continer %}
 <!-- header section end -->
 <!-- services section start -->
 <section class="untree_co-section py-5 bg-light">
   <div class="container">
     <div class="row justify-content-center mb-5">
       <div class="col-lg-12 text-center">
         
       </div>
     </div>
     <div class="row justify-content-center">
    {% for indxss in homepage_services %} 
       <div class="col-lg-4 mb-4" data-city="istanbul">
         <div class="card border-0 text-center">
           <img src="{{indxss.image.url}}" class="card-img-top" alt="Resim">
           <div class="card-body">
             <h3 class="card-title">{{indxss.title}}</h3>
             <p class="card-text">{{indxss.description}}</p>
             <a href="{% url "services" %}" class="btn btn-primary"><i class="fas fa-map-marker-alt"></i>Daha fazlasi için</a>
           </div>
         </div>
       </div>
       {% endfor %} 
     </div>
   </div>
 </section>
<!-- services section end -->
<!-- about section start -->
<div class="about_section layout_padding">
  <div class="container-fluid">
   <div class="row">
    {% for indxss in index_pages %}
     <div class="col-md-6">
      <div class="about_taital_main">
        <h1 class="about_taital">{{indxss.about_title}}</h1>
        <p class="about_text">{{indxss.about_description}} </p>
        <div class="readmore_bt"><a href="{% url 'about' %}">Daha Fazla oku </a></div>
      </div>
     </div>
     <div class="col-md-6 padding_right_0">
      <div><img src={{indxss.about_image.url}} class="about_img"></div>
     </div>
     {% endfor %}
   </div>
  </div>
</div>
<!-- about section end -->

<!-- choose section start -->
<div class="client_section layout_padding">
  <div class="container">
    {% for indxss in index_pages %} 
     <h1 class="client_taital">{{indxss.why_choose_us_title}}</h1>
     <div class="client_section_2">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
           <!-- <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
           </ol> -->
           <div class="carousel-inner">
              <div class="carousel-item active">
                 <div class="client_main">
                    <div class="box_left">
                       <p class="lorem_text">{{indxss.why_choose_us_description}}</p>
                    </div>
                    <div class="box_right" style="text-align: right;">
                      <div class="client_taital_left" style="float: right;">
                          <div class="client_img"><img src="{{indxss.why_choose_us_image.url}}"></div>
                      </div>
                  </div>
                 </div>
              </div>
              <!-- <div class="carousel-item">
                 <div class="client_main">
                    <div class="box_left">
                       <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                    </div>
                    <div class="box_right">
                       <div class="client_taital_left">
                          <div class="client_img"><img src="images/client-img.png"></div>
                          <div class="quick_icon"><img src="images/quick-icon.png"></div>
                       </div>
                       <div class="client_taital_right">
                          <h4 class="client_name">Dame</h4>
                          <p class="customer_text">Customer</p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="carousel-item">
                 <div class="client_main">
                    <div class="box_left">
                       <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia</p>
                    </div>
                    <div class="box_right">
                       <div class="client_taital_left">
                          <div class="client_img"><img src="images/client-img.png"></div>
                          <div class="quick_icon"><img src="images/quick-icon.png"></div>
                       </div>
                       <div class="client_taital_right">
                          <h4 class="client_name">Dame</h4>
                          <p class="customer_text">Customer</p>
                       </div>
                    </div>
                 </div>
              </div> -->
           </div>
        </div>
     </div>
     {% endfor %}
  </div>
</div>
{% endblock continer %}