{% extends "base.html" %} 
{% load static %}
{% block continer %}
<div class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
      {% for detai in gezilecekyerdetai_list %}
        <div class="col-md-6">
          <div class="about_taital_main">
            <h1 class="about_taital" style="text-align: center; color: black;">{{detai.detai_GezilecekYer}}</h1>
            <p class="about_text" style="margin-bottom: 20px;">{{detai.detai_description}}</p>
            <div class="button_container" style="margin-bottom: 20px;">
              <a href="{{detai.detai_adresi}}" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i>konum</a>
              <!-- <a href="{{detai.link_url2}}" target="_blank" class="btn btn-secondary"><i class="fas fa-info-circle"></i>gezilecek</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 padding_right_0">
          <div><img src="{{detai.detai_image.url}}" class="about_img"></div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  
{% endblock continer %}

