{% extends "base.html" %}
{% load static %}
{% block title %}anasayfa{% endblock title %}
{% block continer %}


    {% if search%}
    <h1>Aradiğin servic  </h1>
    {% for serv in Service_page %}
     <div class="col-lg-4 mb-4" data-city="istanbul">
       <div class="card border-0 text-center">
         <img src="{{serv.image.url}}" class="card-img-top" alt="Resim">
         <div class="card-body">
           <h3 class="card-title"><a href="{% url 'servicdatai' serv.id %}">{{serv.title}}</a></h3> 
           <!-- serv.id -->
           <p class="card-text">{{serv.description}}</p> 
           <a href="{% url 'servicdatai' serv.id %}"class="btn btn-primary"><i class="fas fa-map-marker-alt"></i> Rota Detayı</a>
         </div>
       </div>
     </div>
    {% endfor %}
    {% endif %}
{% endblock continer %}