{% extends "base.html" %} 
{% load static %}
{% block title %}"Service Detail"{% endblock title %}
{% block continer %}
<style>
  #rota {
    margin: 0 auto;
    max-width: 600px; /* Opsiyonel: İstenilen genişliği belirleyebilirsiniz */
  }
</style>
<!-- detai section start -->
<div class="about_section layout_padding">
  <div class="container-fluid">
    <div class="row">
    {% for serv in Service_page %}
    {% for deta in detai %}
      <div class="col-md-6">
        <div class="about_taital_main">
          <h1 class="about_taital" style="text-align: center; color: black;">{{serv.title}}</h1>
          <p class="about_text" style="margin-bottom: 20px;">{{serv.description}}</p>
          <div class="button_container" style="margin-bottom: 20px;">
            <a href="{{deta.link_url}}" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i>{{deta.link_title}}</a>
            <a href="{{deta.link_url2}}" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i> {{deta.link_title2 }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 padding_right_0">
        <div><img src="{{serv.image.url}}" class="about_img"></div>
      </div>
    {% endfor %}
    {% endfor %}
    </div>
  </div>
</div>
<div class="about_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="about_taital" style="text-align: center; color: black;">gezilecek rota</h1>
      </div>
    <br><br>
    </div>
    <div class="row">
    {% for gezileceky in gezilecek_yerler %}
    {% for serv in detai %}
      <div class="col-md-6">
        <nav>
          <a href="#yer1" class="rota-link" style="color: blue;">{{gezileceky.GezilecekYer}}</a>
          <div style="display: inline-block; width: 10px; height: 10px; background-color: transparent; margin: 0 10px;"></div> 
        </nav>
        <br>
        <section>
          <h2 id="yer1" style="color: blue;"><a href="{% url "gezilecekyerdetai" gezileceky.id %}"target="_blank">{{gezileceky.GezilecekYer}}</a></h2>
          <p style="color: blue;">{{gezileceky.description}}</p>
          <div class="button_container" style="margin-bottom: 20px;">
            <a href="{{gezileceky.adreslink1}}" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i>Konum</a>
            <a href="{% url "gezilecekyerdetai" gezileceky.id %}" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i>Gezilecek rota detai </a>
          </div>
        </section>
      </div>
      <div class="col-md-6 padding_right_0">
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>







<div class="container">
  {% for deta in detai %}
  <div class="col-md-12">
    <h1 class="about_taital" style="text-align: center; color: black;">{{deta.main_title}}</h1>
  </div>
  <div class="row justify-content-center">
  {% for servici in servicics %}
    <div class="col-lg-4 mb-4" data-city="istanbul">
      <div class="card border-0 text-center">
        <img src="{{servici.image1.url}}" class="card-img-top" alt="Resim">
        <div class="card-body">
          <h3 class="card-title">{{servici.title1}}</h3>
          <p class="card-text">{{servici.description1}}</p>
          <div class="button_container" style="margin-bottom: 20px;">
            <a href="{{servici.link_url1}}" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i>Konum</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="container">
  {% for deta in detai %}
  <div class="col-md-12">
    <h1 class="about_taital" style="text-align: center; color: black;">{{deta.main_title2}}</h1>
  </div>
  <div class="row justify-content-center">
  {% for servici in servicics %}
    <div class="col-lg-4 mb-4" data-city="istanbul">
      <div class="card border-0 text-center">
        <img src="{{servici.image2.url}}" class="card-img-top" alt="Resim">
        <div class="card-body">
          <h3 class="card-title">{{servici.title2}}</h3>
          <p class="card-text">{{servici.description2}}</p>
          <div class="button_container" style="margin-bottom: 20px;">
            <a href="{{servici.link_url2}}" target="_blank" class="btn btn-dark"><i class="fas fa-hotel"></i>Konum</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<br/><br/>

<h1>Yorumlar...</h1>
<br/>
{% if not service_detail.comments.all %}
    henuz yorum yok... <a href="#">
      Yorum ekle
    </a>
{% else %}
  {% for comi in service_detail.comments.all %}
  <strong>
    {{ comi.name }} - 
    {{ comi.date_added}}
  </strong>
  <br/>
  {{comi.body}}
  <br/><br/>
  {% endfor %}
{% endif %}
<br><br><br><br><br>
{% endblock continer %}