{% extends "base.html" %} 
{% load static %}
{% block title %}services{% endblock title %}
{% block continer %}
<!-- services section start -->
<section class="untree_co-section py-5 bg-light">
 <div class="container">
   <div class="row justify-content-center mb-5">
    <div class="col-lg-12 text-center">
      <p class="section-subtitle">Gezmek istediğiniz yerleri keşfedin</p>
      <div class="mb-4"></div>
      <div class="input-group mb-3">
        <form class="d-flex" method="GET" action="#">
          <!-- Arama kutusu -->
          <input class="form-control" type="text" name="search" placeholder="Şehir Ara" id="city-search" value="{{ request.GET.search }}">
          <!-- Arama butonu -->
          <button class="btn btn-primary" type="submit" id="button-addon2">search</button>
        </form>
      </div>
    </div>
  </div>
  
   <div class="row justify-content-center">
{% for serv in Service_page %}
     <div class="col-lg-4 mb-4" data-city="istanbul">
       <div class="card border-0 text-center">
         <img src="{{serv.image.url}}" class="card-img-top" alt="Resim">
         <div class="card-body">
           <h3 class="card-title"><a href="{% url 'servicdatai' serv.id %}">{{serv.title}}</a></h3> 
           <!-- serv.id -->
           <p class="card-text">{{serv.description}}</p> 
           <a href="{% url 'servicdatai' serv.id %}"class="btn btn-primary"><i class="fas fa-map-marker-alt"></i> Rota Detayı</a>
         </div>
       </div>
     </div>
{% endfor %}
   </div>
 </div>
</section>

<!-- services section end -->
{% endblock continer %}